# Python virtual environments
venv/
openems/
.venv/
env/

# External dependencies and installations
openEMS-Project/

# Temporary files and outputs
octave_simulations/
*.gds
*.png

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg 